/* CONFIG NAVIGATEUR */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
ol,
span,
p {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ol {
  list-style-type: none;
}

.btn {
  font-family: "Roboto", sans-serif;
  padding: 1.4rem 2.2rem;
  border-radius: 23px;
  background: linear-gradient(176deg, #ff79da, #9356dc);
  color: #fff;
  box-shadow: 0px 2px 5px 2px #ccc;
}

header {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 1.5rem 0;
}
header img {
  width: 16rem;
}

aside {
  padding: 1.5rem 0;
  background-color: #eaeaea;
  box-shadow: inset 0px 11px 8px -10px #ccc;
}
aside .icone-map {
  width: 1.2rem;
  position: absolute;
  margin-left: calc(50% - 8.1rem);
}
aside .localisation {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.hero-header {
  padding: 4.9rem 4rem;
  background-color: #f6f6f6;
  text-align: center;
}
.hero-header h1 {
  margin-bottom: 1.5rem;
}
.hero-header p {
  margin-bottom: 4rem;
}
.hero-header .btn {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.hero-header .btn:hover {
  filter: brightness(105%);
}
.hero-header .btn a {
  color: #fff;
}

.fonctionnement {
  margin: 4.9rem 1.5rem 6.5rem 1.5rem;
}
.fonctionnement h2 {
  margin-bottom: 2.5rem;
}
.fonctionnement ol {
  margin-left: 1rem;
  position: relative;
  font-weight: bold;
  user-select: none;
}
.fonctionnement ol span {
  position: absolute;
  color: #fff;
  background-color: #9356dc;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  padding-top: 0.6rem;
  transform: translateX(-13px);
  margin-top: 1.7rem;
  font-size: 1.2rem;
}
.fonctionnement ol li {
  padding: 2rem 0 2rem 3rem;
  margin-bottom: 2rem;
  border-radius: 18px;
  background-color: #f6f6f6;
  box-shadow: 0px 2px 5px 2px #ccc;
}
.fonctionnement ol li:nth-child(2)::before {
  content: "";
  display: inline-block;
  background-image: url("../../images/icones/mobile-alt-solid.svg");
  background-size: 1.7rem 1.7rem;
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 2rem;
  transform: translateY(2px);
}
.fonctionnement ol li:nth-child(4)::before {
  content: "";
  display: inline-block;
  background-image: url("../../images/icones/list-ul-solid.svg");
  background-size: 1.7rem 1.7rem;
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 2rem;
  transform: translateY(2px);
}
.fonctionnement ol li:nth-child(6)::before {
  content: "";
  display: inline-block;
  background-image: url("../../images/icones/store-solid.svg");
  background-size: 1.7rem 1.7rem;
  height: 1.7rem;
  width: 1.7rem;
  margin-right: 2rem;
  transform: translateY(2px);
}
.fonctionnement ol li:nth-child(6) {
  background-color: #f5edff;
}

.restaurants {
  padding: 4.9rem 1.5rem 6.8rem 1.5rem;
  background-color: #f6f6f6;
}
.restaurants h2 {
  margin-bottom: 2.5rem;
}
.restaurants .cards {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
}
.restaurants .cards .card {
  border-radius: 10px;
  color: inherit;
  background-color: #fff;
  position: relative;
}
.restaurants .cards .card .card-img {
  height: 19.2rem;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  object-position: bottom;
}
.restaurants .cards .card .card-img-2 {
  object-position: center;
}
.restaurants .cards .card .card-badge {
  background-color: #99e2d0;
  padding: 0.6rem 1.1rem;
  color: #008766;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border-radius: 0.425rem;
}
.restaurants .cards .card .card-footer {
  display: flex;
  padding: 1.6rem;
  justify-content: space-between;
}
.restaurants .cards .card .card-footer .card-content {
  font-family: "Roboto", sans-serif;
}
.restaurants .cards .card .card-footer .card-favorite {
  display: flex;
  align-items: center;
}
.restaurants .cards .card .card-footer .card-favorite input {
  display: none;
}
.restaurants .cards .card .card-footer .card-favorite input:checked + label {
  content: "";
  display: block;
  background-image: url(../../images/icones/heart-solid.svg);
  background-size: 2.8rem 2.8rem;
  height: 2.8rem;
  width: 2.8rem;
}
.restaurants .cards .card .card-footer .card-favorite input:checked + label::before {
  opacity: 0;
  transition: opacity 0.5s;
}
.restaurants .cards .card .card-footer .card-favorite label {
  cursor: pointer;
}
.restaurants .cards .card .card-footer .card-favorite label::before {
  content: "";
  display: block;
  background-image: url(../../images/icones/heart-regular.svg);
  background-size: 2.8rem 2.8rem;
  height: 2.8rem;
  width: 2.8rem;
}

/*# sourceMappingURL=style.css.map */
