// Ajout d'une icone dans un pseudo-élément before
@mixin icone($url, $dimension) {
  content: "";
  display: inline-block;
  background-image: url($url);
  background-size: $dimension $dimension;
  height: $dimension;
  width: $dimension;
  margin-right: 2rem;
  transform: translateY(2px);
}
