// COULEURS

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;

$background-light: rgb(246, 246, 246);
$background-dark: rgb(234, 234, 234);

// FONTS

$font-family-roboto: "Roboto", sans-serif;
$font-family-shrikhand: "Shrikhand", cursive;
