// COULEURS

$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$green-dark: rgb(0, 135, 102);

$background-grey-light: rgb(246, 246, 246);
$background-grey-dark: rgb(234, 234, 234);
$background-grey-very-dark: rgb(53, 53, 53);
$background-purple-light: rgb(245, 237, 255);

// FONTS

$font-family-roboto: "Roboto", sans-serif;
$font-family-shrikhand: "Shrikhand", cursive;

// BOX-SHADOW
$box-shadow: 0px 2px 5px 2px #ccc;
