@import "config";
@import "variables";
@import "mixins";
@import "header-pages";
@import "footer";

// HERO-HEADER

.hero-header {
  img {
    width: 100%;
  }
}

// MAIN

main {
  font-family: $font-family-roboto;
  background-color: $background-grey-light;
  padding: 2.5rem 1.5rem 7rem 1.5rem;
  position: relative;
  margin-top: -5rem;
  border-radius: 40px 40px 0 0;

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.5rem;

    h1 {
      font-family: $font-family-shrikhand;
      font-size: 2.8rem;
      font-weight: lighter;
    }

    .favorite {
      display: flex;
      align-items: center;

      input {
        display: none;

        &:checked + label {
          content: "";
          display: block;
          background-image: url(../../images/icones/heart-solid.svg);
          background-size: 2.8rem 2.8rem;
          height: 2.8rem;
          width: 2.8rem;
          margin-right: 2.2rem;

          &::before {
            opacity: 0;
            transition: opacity 0.5s;
          }
        }
      }

      label {
        cursor: pointer;

        &::before {
          content: "";
          display: block;
          background-image: url(../../images/icones/heart-regular.svg);
          background-size: 2.8rem 2.8rem;
          height: 2.8rem;
          width: 2.8rem;
          margin-right: 2.2rem;
        }
      }
    }
  }
}

form {
  .entrees,
  .plats,
  .desserts {
    margin-bottom: 3.5rem;

    input {
      position: absolute;
      left: -9999px;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1.5rem;

    &::after {
      content: "";
      display: block;
      width: 3.9rem;
      height: 0.3rem;
      background-color: $tertiary-color;
      margin-top: 0.3rem;
    }
  }

  label {
    display: flex;
    padding: 1rem 2rem 1rem 1rem;
    background-color: #fff;
    border-radius: 1.2rem;
    margin-bottom: 1.5rem;
    box-shadow: $box-shadow;
    overflow: hidden;
    cursor: pointer;

    div:first-child {
      white-space: nowrap;
      overflow: hidden;
      flex-grow: 1;

      h3 {
        margin-bottom: 0.5rem;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      aside {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .prix {
      align-self: flex-end;
      font-weight: bold;
      font-size: 1.5rem;
    }

    .selection {
      background-color: $tertiary-color;
      margin: -1rem -2rem -1rem 1rem;
      display: flex;
      align-items: center;

      .check {
        height: 2.1rem;
        width: 2.1rem;
        margin: 0 2rem;
        background-color: #fff;
        display: flex;

        justify-content: center;
        border-radius: 50%;
        transition-duration: 0.5s;

        img {
          width: 1.5rem;
        }
      }
    }
  }

  input {
    font-size: 1.6rem;
    cursor: pointer;
    display: block;
    margin: 4rem auto 0 auto;
    border: none;
    padding: 1.5rem 4rem;
    border-radius: 23px;
    background: linear-gradient(176deg, $secondary-color, $primary-color);
    color: #fff;
    box-shadow: $box-shadow;

    &:hover {
      filter: brightness(105%);
    }
  }
}
