@import "variables";

// font-family: 'Roboto', sans-serif;
// font-family: 'Shrikhand', cursive;

/* CONFIG NAVIGATEUR */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

// COMMUN
h1,
h2,
h3,
ol,
p {
  font-family: $font-family-roboto;
}

a {
  text-decoration: none;
}

ol {
  list-style-type: none;
}

.btn {
  font-family: $font-family-roboto;
  padding: 1.4rem 2.2rem;
  border-radius: 23px;
  background: linear-gradient(176deg, $secondary-color, $primary-color);
  color: #fff;
  box-shadow: $box-shadow;
}

// HEADER
header {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 1.5rem 0;

  img {
    width: 16rem;
  }
}

// ASIDE

aside {
  padding: 1.5rem 0;
  background-color: $background-grey-dark;
  box-shadow: inset 0px 11px 8px -10px #ccc;

  .icone-map {
    width: 1.2rem;
    position: absolute;
    margin-left: calc(50% - 8.1rem);
  }

  .localisation {
    display: flex;
    justify-content: center;
    font-family: $font-family-roboto;
  }
}

// HERO-HEADER

.hero-header {
  padding: 4.9rem 4rem;
  background-color: $background-grey-light;
  text-align: center;

  h1 {
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 4rem;
  }

  .btn {
    display: inline-block;
    margin-bottom: 0.5rem;

    a {
      color: #fff;
    }
  }
}

// FONCTIONNEMENT

.fonctionnement {
  margin: 4.9rem 1.5rem;

  h2 {
    margin-bottom: 2.5rem;
  }

  ol {
    margin-left: 1rem;

    li {
      padding: 2rem 0 2rem 8rem;
      margin-bottom: 2rem;
      border-radius: 18px;
      background-color: $background-grey-light;
      box-shadow: $box-shadow;
    }
  }
}
