@import "variables";
@import "mixins";

// font-family: 'Roboto', sans-serif;
// font-family: 'Shrikhand', cursive;

/* CONFIG NAVIGATEUR */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

// COMMUN
h1,
h2,
h3,
ol,
span,
p {
  font-family: $font-family-roboto;
}

a {
  text-decoration: none;
}

ol {
  list-style-type: none;
}

.btn {
  font-family: $font-family-roboto;
  padding: 1.4rem 2.2rem;
  border-radius: 23px;
  background: linear-gradient(176deg, $secondary-color, $primary-color);
  color: #fff;
  box-shadow: $box-shadow;
}

// HEADER
header {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 1.5rem 0;

  img {
    width: 16rem;
  }
}

// ASIDE

aside {
  padding: 1.5rem 0;
  background-color: $background-grey-dark;
  box-shadow: inset 0px 11px 8px -10px #ccc;

  .icone-map {
    width: 1.2rem;
    position: absolute;
    margin-left: calc(50% - 8.1rem);
  }

  .localisation {
    display: flex;
    justify-content: center;
    font-family: $font-family-roboto;
  }
}

// HERO-HEADER

.hero-header {
  padding: 4.9rem 4rem;
  background-color: $background-grey-light;
  text-align: center;

  h1 {
    margin-bottom: 1.5rem;
  }

  p {
    margin-bottom: 4rem;
  }

  .btn {
    display: inline-block;
    margin-bottom: 0.5rem;

    &:hover {
      filter: brightness(105%);
    }

    a {
      color: #fff;
    }
  }
}

// FONCTIONNEMENT

.fonctionnement {
  margin: 4.9rem 1.5rem 6.5rem 1.5rem;

  h2 {
    margin-bottom: 2.5rem;
  }

  ol {
    margin-left: 1rem;
    position: relative;
    font-weight: bold;
    user-select: none;

    span {
      position: absolute;
      color: #fff;
      background-color: $primary-color;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      padding-top: 0.6rem;
      transform: translateX(-13px);
      margin-top: 1.7rem;
      font-size: 1.2rem;
    }

    li {
      padding: 2rem 0 2rem 3rem;
      margin-bottom: 2rem;
      border-radius: 18px;
      background-color: $background-grey-light;
      box-shadow: $box-shadow;

      &:nth-child(2)::before {
        // Param (url, dimensions)
        @include icone("../../images/icones/mobile-alt-solid.svg", 1.7rem);
      }

      &:nth-child(4)::before {
        @include icone("../../images/icones/list-ul-solid.svg", 1.7rem);
      }
      &:nth-child(6)::before {
        @include icone("../../images/icones/store-solid.svg", 1.7rem);
      }

      &:nth-child(6) {
        background-color: $background-purple-light;
      }
    }
  }
}

// RESTAURANTS

.restaurants {
  padding: 4.9rem 1.5rem;
  background-color: $background-grey-light;

  h2 {
    margin-bottom: 2.5rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;

    .card {
      border-radius: 10px;
      color: inherit;
      background-color: #fff;
      position: relative;

      .card-img {
        height: 19.2rem;
        width: 100%;
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        object-position: bottom;
      }

      .card-badge {
        background-color: $tertiary-color;
        padding: 0.6rem 1.1rem;
        color: $green-dark;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        border-radius: 0.425rem;
      }

      .card-footer {
        display: flex;
        padding: 1.6rem;
        justify-content: space-between;

        .card-content {
          font-family: $font-family-roboto;
        }

        .card-favorite {
          display: flex;
          align-items: center;

          input {
            display: none;

            &:checked + label {
              content: "";
              display: block;
              background-image: url(../../images/icones/heart-solid.svg);
              background-size: 2.8rem 2.8rem;
              height: 2.8rem;
              width: 2.8rem;

              &::before {
                opacity: 0;
                transition: opacity 0.5s;
              }
            }
          }

          label {
            cursor: pointer;

            &::before {
              content: "";
              display: block;
              background-image: url(../../images/icones/heart-regular.svg);
              background-size: 2.8rem 2.8rem;
              height: 2.8rem;
              width: 2.8rem;
            }
          }
        }
      }
    }
  }
}
